  <div class="row">
    <div class="col-md-6">
      <h2>Compiler</h2>
      <input type="text" name="name" value="" placeholder="Enter Name" id="name"><br><br>
      <label for="compiler">Enter Code Here</label>
      <!-- <textarea name="compiler" rows="10" cols="50" id="text"></textarea><br><br> -->
      <div id="text" class="card card-outline-primary mb-3"></div>
      <button type="button" name="execute" id="load">Execute</button>
    </div>

    <div class="col-md-6" id="para">
      <h2>Output</h2>
      <div id="result">

      </div>
    </div>
  </div>

<script type="text/javascript">
var editor = CodeMirror(document.getElementById('text'),{
  value: "#type code here",
  mode: "ruby",
  lineNumbers: true,
  keyMap: "sublime",
  theme: "monokai",
	tabSize: 2,
	indentUnit: 2,
	smartIndent: true,
	indentWithTabs: true,
	tabIndex: 2
});
  $("#load").click(function(){
      var sent = editor.getValue();
      debugger
      var eName = $("#name").val();
      if(sent == "" || eName == ""){
        alert('empty');
      }else{
      // console.log(content);
      $.ajax({
        url: "/home/input",
        type: "get",
        data: {
          name: eName,
          content: sent
        },
        success: function(response){
          $("#result").empty();
          var paragraphs = response.response.split("\n");
          paragraphs.forEach(function(n){
            document.getElementById("result").innerHTML += "<p>" + n + "</p>";
          });
        }
      });
    }
  });

</script>
