<!DOCTYPE html>
<html>
<head>
  <title>Cc</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- sweet alert 2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.js" integrity="sha256-c0+AvbVv3lvLpN+Z62FyWFP5up0LfGELvEYbcow9nco=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/codemirror.css">
  <link rel="stylesheet" href="/stylesheets/monokai.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
  crossorigin="anonymous"></script>
  <script src="/javascripts/codemirror.js"></script>
  <script src="/javascripts/javascript/javascript.js"></script>
  <script src="/javascripts/ruby.js"></script>
  <script src="/javascripts/python.js"></script>
  <script src="/javascripts/javascript.js"></script>
  <script src="/javascripts/sublime.js"></script>

</head>

<body>
  <div class="container-fluid">
    <%= yield %>
  </div>



</body>
</html>
